language: ruby
sudo: false
cache: bundler
rvm:
  - 2.6
  - 2.4
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  matrix:
    - JEKYLL_VERSION=3.6
before_install:
- gem update --system
before_script: bundle update
script: script/cibuild
notifications:
  email: false
