article.importer {
  pre {
    width: 100%;
    padding: 15px;
    background: #333;
    overflow-x: auto
  }
  .table-container {
    margin-bottom: 15px;
    overflow-x: auto;

    table.cli {
      .required-option {
        color: #e5ce8b;
        background: #6b6247;
      }
      code {
        font-size: 15px;
        background: #333;
      }
      small code { font-size: 14px }
      &+ .cli-table-note {
        font-size: 0.825em;
        text-align: right;
        &:before {
          content: "*";
        }
      }
    }
  }
}
