---
---

// Questrial Regular (400)
@font-face {
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("{{ '/assets/fonts/Questrial/Questrial-Regular.ttf' | relative_url }}") format("truetype");
}

@import "base";
@import "layout";
@import "homepage";
@import "components/cli-table";
@import "components/highlight";
@import "components/note";
