name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    name: 'Ruby ${{ matrix.ruby_version }}'
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        ruby_version:
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 5
      - name: "Set up Ruby ${{ matrix.ruby_version }}"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - name: Execute Unit tests
        run:  bundle exec rake test

  style_check:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    name: 'Code Style Check'
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        ruby_version:
          - 2.7
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 5
      - name: "Set up Ruby ${{ matrix.ruby_version }}"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - name: Run RuboCop
        run:  bash script/fmt

  cli_help_info_visualization:
    name: "CLI Help Info Visualization"
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        ruby_version:
          - 2.7
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 5
      - name: "Set up Ruby ${{ matrix.ruby_version }}"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - name: Print Importer Help Menus
        run:  bundle exec ruby script/cli_help_visualizer.rb
